.navigation-container {
    width: 100%;
    display: flex;
    padding: 0px 70px;
}

.header-logo-container {
    width: 50%;
}

.navigation {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav {
    display: flex;
}

.nav-link {
    color: #ff6060;
    text-decoration: none;
    font-weight: 500;
    font-size: 24px;
    cursor: pointer;
}

nav ul a:nth-child(1) {
    margin-right: 48px;
}

.active-link {
    text-decoration: underline;
}

@media screen and (max-width: 950px) {
    .navigation-container {
        padding: 0px 20px;
    }

    .header-logo-container img {
        width: 120px;
    }

    .nav-link {
        font-size: 12px;
    }

    nav ul a:nth-child(1) {
        margin-right: 10px;
    }

    .active-link {
        text-decoration: underline;
    }
}